<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<form method="post">
    <table>
        <tr>
            <th>id</th>
            <th>casename</th>
            <th>urlpath</th>
            <th>key</th>
            <th>_appid</th>
            <th>sign_method</th>
            <th>format</th>
            <th>parameters</th>
            <th>check</th>
            <th>expect</th>
        </tr>
        <tr>
            <td>
                <input>
            </td>

            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
            <td>
                <input>
            </td>
        </tr>
    </table>

    <button>提交</button>
</form>
</body>
</html>